[submodule "ESP-NOW_MAIN_RECEIVER"]
	path = ESP-NOW_MAIN_RECEIVER
	url = https://github.com/Suznyan/ESP-NOW_MAIN_RECEIVER.git
[submodule "ESP_NOW_SENDER_SENSOR"]
	path = ESP_NOW_SENDER_SENSOR
	url = https://github.com/Suznyan/ESP_NOW_SENDER_SENSOR.git
[submodule "ESP_NOW_SENDER_RELAY_DEVICE"]
	path = ESP_NOW_SENDER_RELAY_DEVICE
	url = https://github.com/Suznyan/ESP_NOW_SENDER_RELAY_DEVICE.git
