[submodule "ESP-NOW_MAIN_RECEIVER"]
	path = ESP-NOW_MAIN_RECEIVER
	url = https://github.com/Suznyan/ESP-NOW_MAIN_RECEIVER.git
[submodule "ESP_NOW_BOARD_3"]
	path = ESP_NOW_BOARD_3
	url = https://github.com/Suznyan/ESP_NOW_BOARD_3.git
[submodule "ESP_NOW_BOARD_4"]
	path = ESP_NOW_BOARD_4
	url = https://github.com/Suznyan/ESP_NOW_BOARD_4.git
[submodule "ESP_NOW_BOARD_2"]
	path = ESP_NOW_BOARD_2
	url = https://github.com/Suznyan/ESP_NOW_BOARD_2.git
[submodule "ESP_NOW_BOARD_1"]
	path = ESP_NOW_BOARD_1
	url = https://github.com/Suznyan/ESP_NOW_BOARD_1.git
